* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  width: 375px;
}

ul {
  list-style: none;
}

/* Buttons */
.button {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 48px;
  padding: 12px;
  cursor: pointer;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #fff;
  border: 1px solid #f55800;
  background: #f55800;
}

.button:hover {
  color: #f55800;
  border: 1px solid #f55800;
  background: #fff5e1;
}

.button:active {
  color: #f4f1f0;
  border: 1px solid #e05304;
  background: #e05304;
}

.button:disabled {
  cursor: not-allowed;
  color: #5b5957;
  border: 1px solid #f4f1f0;
  background: #f4f1f0;
}

/* Nav Bar */
header {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  text-decoration: none;
  color: #fff;
  background: #3c3a39;
}

nav {
  padding-right: 32px;
}

.fa-bars {
  color: white;
}

#logo {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

/* Headline */
#headline {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 590px;
  padding: 0 24px;
  background-color: #1c1a19;
  background-image: url("./media/illustration-header-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 125%;
}

#main-title {
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  font-weight: 400;
  font-style: normal;
  line-height: 64px;
  margin-top: 120px;
  margin-bottom: 6px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#main-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 32px;
  color: #fff5e1;
}

#main-description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  margin: 12px 0;
  color: #fff;
}

/* Background Image */
.image {
  background-repeat: no-repeat;
  background-position: right bottom;
}

/* Social Media */
#socials {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.social-icons {
  font-size: 24px;
  padding: 10px;
  color: #dbd8d7;
}

/* Recent Works */
#works {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  padding: 0 24px;
}

#works-title {
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 52px;
  display: flex;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  color: #1c1a19;
  border-bottom: 1px solid #212121;
}

#projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#main-project {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}

.mainp-title {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 44px;
  display: flex;
  align-items: center;
  height: 36px;
  margin-top: 22px;
  color: #091e42;
}

.mainp-paragraph {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  margin-top: 22px;
  margin-bottom: 22px;
  color: #091e42;
}

.mainp-tags {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 0;
  gap: 12px;
}

.mainp-tags > span {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 12px;
  color: #091e42;
  border: 1px solid #8993a4;
  background: #fff;
}

#projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 120px;
}

.other-projects {
  display: grid;
  align-items: end;
  width: 327px;
  height: 386px;
  margin: 20px 0;
  background-repeat: no-repeat;
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card6 {
  background-image: url("./media/projects-background.png");
}

.other-projects > h3 {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 44px;
  height: 81px;
  color: #fff;
  margin: 0 10px;
}

.other-projects > p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  height: 87px;
  color: #fff;
  margin: 0 10px;
}

.otherp-tags {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 10px;
  padding: 0;
  gap: 12px;
}

.otherp-tags > span {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 12px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.mainp-tags > span:hover {
  background-color: rgb(214, 214, 214);
}

.otherp-tags > span:hover {
  background-color: rgb(214, 214, 214);
}

.otherp-button {
  width: 327px;
  flex-direction: column;
}

/* About Me */
#about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  padding: 120px 24px;
  padding-bottom: 200px;
  background-color: #1c1a19;
  background-image: url("./media/illustration-about-me-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

#about-title {
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  font-style: normal;
  line-height: 88px;
  height: 79px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#about-paragraph {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  width: 327px;
  height: 148px;
  color: #f4f5f7;
}

#resume-button {
  margin-top: 20px;
}

#separator {
  width: 330px;
  border: 1px solid #fff;
}

/* Competencies */
#competencies {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  padding: 0 24px 100px 24px;
  background-color: #1c1a19;
  gap: 24px;
}

#competencies-container {
  margin-top: 50px;
}

#competencies-container > ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#competencies-container > ul > li {
  margin: 24px 0;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 43px;
  display: flex;
  align-items: center;
  height: 24px;
  text-align: center;
  color: #fff;
}

#competencies-container > ul > .competency-title {
  font-family: "InaiMathi", serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 44px;
  display: flex;
  align-items: center;
  height: 24px;
  color: #fff;
}

.bullet {
  margin: 0 5px 0 0;
}

#languages-bullet {
  width: 18px;
  height: 18px;
  transform: rotate(-45deg);
  background: #ff6b00;
}

#frameworks-bullet {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

#skills-bullet {
  width: 18px;
  height: 18px;
  border-radius: 150px;
  background: #ff6b00;
}

/* Contact */
#contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 844px;
  padding: 120px 24px;
  gap: 58px;
}

#contact > p {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 44px;
  width: 327px;
  height: 216px;
  text-align: center;
  color: #172b4d;
}

#contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 327px;
  padding: 0;
  gap: 24px;
}

#contact-form > input {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  width: 327px;
  height: 48px;
  padding: 10px;
  border: 0 solid;
  border-bottom: 2px solid #dbd8d7;
  outline: none;
  background-color: transparent;
}

#contact-form > textarea {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  width: 327px;
  height: 114px;
  padding: 10px;
  border: 0 solid;
  background-color: #fbf8f7;
}
